# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Node / Next.js
node_modules/
.next/
out/
build/

# Переменные окружения
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Логи
*.log
npm-debug.log*
